[menu footer_menu]
start = "id-7"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "Opt-out here"
link = "/privacy-policy#cookies"
theme = "dark-bottom"

[jumbotron funding-text]
jumbotron = "funding-text"
background = "transperant"
templates = "template2"
description_limit = 0
==
{% component 'cookieConsent' %}

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="footer-title">
                    <img src="{{ 'assets/images/derto-green.svg'|theme }}" alt="DERTO Logo" class="derto-logo">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-menu-wrapper">
                    <nav class="footer-navigation text-center">
                        {% component 'footer_menu' %}
                    </nav>
                </div>
            </div>
        </div>
        
        <div class="row eu-disclaimer-row">
            <div class="col-xs-12">
                <div class="eu-disclaimer">
                    <div class="team-logo">
                        <img src="{{ 'team-up-logo.svg'|media }}" alt="Team Up">
                    </div>
                    <div class="eu-logo">
                        <img src="{{ footer_funds_flag }}" alt="EU Logo" />
                    </div>
                    <div class="disclaimer-text">
                        {% component 'funding-text' %}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="footer-credits">
                    <span>Designed by Pensoft</span>
                    <a href="/privacy-policy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>