{% if material %}
<div class="material-card" 
     data-material-id="{{ material.id }}"
     data-material-name="{{ material.name }}"
     data-material-type="{{ material.type }}"
     data-material-target-audience="{{ material.target_audience }}"
     data-material-target-audiences="{{ material.target_audiences ? material.target_audiences|json_encode : '' }}"
     data-material-prefix="{{ material.prefix }}"
     data-material-duration="{{ material.duration }}"
     data-material-language="{{ material.language }}"
     data-material-description="{{ material.description|e }}"
     data-material-keywords="{{ material.keywords|join(',') }}"
     data-material-cover="{{ material.cover ? material.cover.getPath() : '' }}"
     data-material-youtube-url="{{ material.youtube_url }}"
     data-material-slideshare-url="{{ material.slideshare_url|e('html_attr') }}"
     data-material-video-file="{{ material.video_file ? material.video_file.getPath() : '' }}"
     data-material-document-file="{{ material.document_file ? material.document_file.getPath() : '' }}"
     data-material-quiz="{{ material.quiz|raw }}"
     data-material-author="{{ material.author }}"
     data-material-contact-information="{{ material.contact_information }}"
     data-material-copyright="{{ material.copyright }}"
     data-material-link-to-other-materials="{{ material.link_to_other_materials }}"
     data-material-download-possible="{{ material.download_possible ? 'true' : 'false' }}"
     data-material-date-of-creation="{{ material.date_of_creation ? material.date_of_creation.format('Y-m-d') : '' }}"
     data-material-date-of-version="{{ material.date_of_version ? material.date_of_version.format('Y-m-d') : '' }}"
     data-material-date-of-upload="{{ material.date_of_upload ? material.date_of_upload.format('Y-m-d') : '' }}"
     data-material-lesson-name="{{ material.lesson ? material.lesson.name : '' }}"
     data-material-block-name="{{ material.lesson.block ? material.lesson.block.name : '' }}"
     data-material-topic-name="{{ material.lesson.block.topic ? material.lesson.block.topic.name : '' }}"
     data-material-gallery="{{ material.gallery ? material.gallery|map(file => file.getPath())|json_encode : '' }}">
    <div class="card-inner">
        <div class="card-header">
            {% set docType = '' %}
            {% if material.document_file %}
                {% if material.document_file.file_name %}
                    {% set parts = material.document_file.file_name|split('.') %}
                    {% set docType = parts|last|lower %}
                {% else %}
                    {% if material.document_file.getPath is defined %}
                        {% set docPath = material.document_file.getPath() %}
                        {% if docPath %}
                            {% set docType = docPath|split('?')|first|split('.')|last|lower %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {% set docVariant = '' %}
            {% if docType in ['pdf'] %}
                {% set docVariant = 'pdf' %}
            {% elseif docType in ['ppt','pptx'] %}
                {% set docVariant = 'ppt' %}
            {% elseif docType in ['docx'] %}
                {% set docVariant = 'docx' %}
            {% endif %}

            <div class="meta-chips">
                <span class="material-number">{{ material.prefix }}</span>
                <span class="material-duration">
                    <i class="icon-clock"></i> {{ material.duration }}
                </span>
                {% if material.language %}
                <span class="material-language"><i class="icon-globe"></i> {{ material.language }}</span>
            {% endif %}
                {% if docVariant %}
                    <span class="material-doc-type material-doc-type--{{ docVariant }}">{{ docType|upper }}</span>
                {% endif %}
            </div>
        </div>
        
        <div class="material-cover">
            {% if material.cover %}
                {% if material.cover.getPath is defined %}
                    <img src="{{ material.cover.getPath() }}" alt="{{ material.name }}" />
                {% else %}
                    <div class="default-cover">
                        <i class="icon-image"></i>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        
        <div class="card-footer">
            <h3 class="material-title">
                {{ material.name }}
            </h3>
        </div>
    </div>
</div>
{% endif %}